<template>

  <q-page class="row justify-center">
    <div class="q-mt-lg">
      <p class="q-mt-ls">working on you privecy</p>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  components: {
  },
  data () {
    return {
      slide: 1,
      image: "'statics/icons/logo1.jpg'",
      phoneView: false,
      tabletView: false,
      pcRange: 1200,
      tabletRange: 1200,
      phoneRange: 950
    }
  },
  created () {
    // getting window size (document.documentElement.clientWidth)
    // alert(document.documentElement.clientWidth)
    this.validScreen()
    window.addEventListener('resize', this.resize)
  },
  destroyed () {
    window.removeEventListener('resize', this.resize)
  },
  methods: {
    validScreen () {
      if (document.documentElement.clientWidth < this.tabletRange) {
        if (document.documentElement.clientWidth < this.phoneRange) {
          this.mobileV()
        } else {
          this.tabletV()
        }
      } else {
        this.pcV()
      }
    },
    resize () {
      if (document.documentElement.clientWidth < this.tabletRange) {
        if (document.documentElement.clientWidth < this.phoneRange) {
          this.mobileV()
        } else {
          this.tabletV()
        }
      } else {
        this.pcV()
      }
    },
    tabletV () {
      this.tabletView = true
      this.phoneView = false
    },
    mobileV () {
      this.tabletView = false
      this.phoneView = true
    },
    pcV () {
      this.tabletView = false
      this.phoneView = false
    }
  }
}
</script>
<style lang="stylus" scoped>
.carousel{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 20px 0 rgb(16, 37, 156), 0 1px 2px 0 rgb(16, 37, 156);;
}
.bbb  {
  width: 100%;
  height: auto;
  background-size: none;
  background-attachment: fixed;
}

p::-moz-selection { color: red
background-color : rgb(16, 37, 156);
}
marquee::selection {color: yellow;
background-color : rgb(16, 37, 156);
}
p::selection {color: yellow;
background-color : rgb(16, 37, 156);
}
img, q-avatar {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
q-avatar.img::selection {
    /*background-color: transparant;
    color: #000;*/
}
@media (min-width: 950px) {
.marq{
width : 75%;
height : 120px;
}
h2{
  margin-top : -16px;
}
}

@media (max-width: 950px) {
  .marq {
    width : 98%;
    height : 120px;
  }
}
  @media (max-width: 600px) {
  .marq {
    width : 98%;
   height : 100px;
  }
  H4{
    display : none;
  }
  }
</style>
