<template>
 <q-layout view="hHh lpR lfr">
    <q-header  reveal elevated>
     <!-- <q-toolbar class="toolbar" :style="{ backgroundImage: 'url(' + image + ')' }">-->
       <q-toolbar class="toolbar" >
        <q-toolbar-title class="qbt  q-mx-sm q-my-sm">

        </q-toolbar-title>

        <div v-if="phoneView">
          <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="right = !right"
          color="secondary"
         />
      </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="right" side="right" behavior="mobile" elevated>
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
        <marquee  behavior="scroll" direction="left">
      Welcome Privecy is not a problem its a need
         </marquee>
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>
  <!--page -->
    <q-page-container >
      <router-view />
    </q-page-container>

<q-footer elevated class="toolbar bg-grey-2 text-white">      <q-toolbar>
        <q-toolbar-title>

        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      image: 'statics/icons/logo3.jpg',
      right: false,
      phoneView: false,
      tabletView: false,
      pcRange: 1200,
      tabletRange: 1200,
      phoneRange: 950,

      essentialLinks: [
        {
          title: 'Home',
          caption: 'Leer met ons ...',
          icon: 'school',
          link: ''
        },
        {
          title: 'Over ons',
          caption: 'Links of Rechts',
          icon: 'code',
          link: ''
        },
        {
          title: 'Tarieven',
          caption: 'Kies zelf je prijs',
          icon: 'chat',
          link: ''
        },
        {
          title: 'Inschrijven',
          caption: 'Schrijf je nu in',
          icon: 'record_voice_over',
          link: ''
        }
      ]

    }
  },
  created () {
    // getting window size (document.documentElement.clientWidth)
    // alert(document.documentElement.clientWidth)
    this.validScreen()
    window.addEventListener('resize', this.resize)
  },
  destroyed () {
    window.removeEventListener('resize', this.resize)
  },
  watch: {

  },
  methods: {
    validScreen () {
      if (document.documentElement.clientWidth < this.tabletRange) {
        if (document.documentElement.clientWidth < this.phoneRange) {
          this.mobileV()
        } else {
          this.tabletV()
        }
      } else {
        this.pcV()
      }
    },
    resize () {
      if (document.documentElement.clientWidth < this.phoneRange) {
        this.mobileV()
      } else { this.tabletV() }
    },
    roomClicked (room) {
      this.$emit('room-click', room)
    },
    tabletV () {
      this.tabletView = true
      this.phoneView = false
    },
    mobileV () {
      this.tabletView = false
      this.phoneView = true
    },
    pcV () {
      this.tabletView = false
      this.phoneView = false
    },
    onMapClick (event) {
      this.$emit('map-click', { x: event.offsetX, y: event.offsetY })
    },
    getPosition (todo) {
      return {
        left: todo.x + 'px', top: todo.y + 'px'
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
.toolbar{
/*box-shadow: 0px 30px 22px -30px rgba(16,37,156,1);*/
/*box-shadow: inset 3px 40px 49px -16px rgba(16,37,156,0.97);*/
box-shadow: inset -69px 0px 120px -41px rgba(16,37,156,0.97);
}

.logo {

}
#menu{

  list-style-type: none;
  overflow: hidden;
  background-color: none;
 border-radius: 11.22px;
/*  box-shadow: 0 1px 2px 0 rgb(16, 37, 156), 0 1px 2px 0 rgb(16, 37, 156);
  opacity :0.8;*/
}
#menu .li{
  float: left;
  max-width: 420px;
}
li a {
  width: 220;
  font-size: 19,55px;
  display: block;
  color: rgb(16, 37, 156);
  text-align: center;
  padding: 16px;
  text-decoration: none ;
  font-family: Arial;
  letter-spacing: 1.6px;
   word-spacing: 5.2px;
  font-weight: normal;
 text-decoration:  solid rgb(68, 68, 68);
 font-style: normal;
 font-variant: normal;
 text-transform: none;
}

li a:hover {
  background-color: rgb(16, 37, 156);
  color: white;
  border-right: 7px double white;

border-radius: 40px 40px 40px 0px;
}

div.info {
  width: 97%;
  border: 1px solid ;
  padding: 10px;

}
.toolbar  {
  width: 100%;
  height: auto;
  background-size: no;
 background-attachment: fixed;
}
marquee{

}

p::-moz-selection { color: red
background-color : rgb(16, 37, 156);
}
marquee::selection {color: yellow;
background-color : rgb(16, 37, 156);
}
p::selection {color: yellow;
background-color : rgb(16, 37, 156);
}
img, q-avatar {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
q-avatar.img::selection {
    background-color: transparant;
    color: #000;
}
@media (max-width: 600px) {
 .logo {
    height:50px;
     min-width: 120px;
     max-width: 120px;
  }

  }
</style>
